@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

html {
  font-size: 62.5%;
}

ol, ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 4rem;
}

hr {
  width: 100%;
  border: .1rem solid #fff;
}

body {
  background-color: #14141F;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #14141F;
  color: #fcfcfc;
  border: 2px solid #4E3FEE;
  border-radius: 3rem;
  margin: 0.3rem;
  padding: 1.4rem 3.6rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.4rem;
}

.header__up ul li {
  width: 100%;
  position: relative;
}

.header__up ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.header__up ul li i {
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.header__up ul li:hover i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__up ul li ul {
  position: absolute !important;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  padding: 1rem;
  min-width: 15rem;
}

.header__up ul li ul li {
  clear: both;
  background-color: #343444;
  padding: .5rem;
}

.header__up li:hover {
  cursor: pointer;
}

.header__up ul li:hover > ul,
.header__up ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.header__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem auto;
}

.header__down--title {
  font-size: 5.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header__down--route p {
  color: #ADADB0;
}

.header__down--route p span {
  margin: 0 1rem;
}

.header__down--route p .current {
  color: #fcfcfc;
}

.header__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.header__menu--items i {
  margin-left: .5rem;
  display: inline;
}

.header__logo img {
  margin: 0 2rem;
}

.header__search:hover {
  cursor: pointer;
}

.header__wallet img {
  margin: 0 2rem 0 0;
}

.header__wallet button {
  background-color: transparent !important;
  padding: 1rem 2rem;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.header__wallet button:hover {
  background-color: #4E3FEE !important;
}

.header__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__theme--items {
  margin: 0 0.2rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem 0;
  padding: 0 10rem;
}

.main .left {
  width: 35rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .left__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4rem;
  padding: 2rem;
  background-color: #171427;
  border-radius: 3rem;
}

.main .left__avatar img {
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.main .left__avatar button {
  font-size: 1.5rem;
}

.main .left__avatar button:hover {
  font-style: italic;
}

.main .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .right__top--title {
  font-size: 2.2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 1.5rem;
}

.main .right__top--detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .right__top--upload {
  border: 1px solid #4E3FEE;
  border-radius: 1rem;
  width: 300px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.main .right__top--upload button {
  font-size: 1.4rem;
}

.main .right__top--upload button:hover {
  background-color: #4E3FEE;
}

.main .right__top--covers img {
  border-radius: 1rem;
  margin: 0 1rem;
}

.main .right__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
}

.main .right__main h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .right__main h4 {
  font-size: 1.6rem;
  font-weight: 500;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .right__main input {
  background-color: transparent;
  color: #fcfcfc;
  border: 1px solid #4E3FEE;
  border-radius: 3rem;
  margin: 1rem .5rem 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
}

.main .right__main textarea {
  background-color: transparent;
  color: #fcfcfc;
  border: 1px solid #4E3FEE;
  border-radius: 3rem;
  margin: 1rem .5rem 1.5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.main .right__main button {
  background-color: #4E3FEE;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.main .right__main button:hover {
  background-color: transparent;
}

.main .right__main--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  width: 50%;
}

.main .right__main--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  width: 50%;
}

.main .right__down {
  margin: 1rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main .right__down button {
  font-size: 1.4rem;
}

.footer {
  background-color: #0D0D12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10rem 5rem;
}

.footer h5 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__info--subtitle p {
  font-size: 1.7rem;
  font-weight: 200;
}

.footer__menu ul li {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1.7rem 0;
}

.footer__menu ul li:hover {
  cursor: pointer;
}

.footer__us {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__us input {
  background-color: transparent;
  border: 1px solid #4E3FEE;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
}

.footer__us--socialmedia {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__us--socialmedia a {
  margin: 0 .3rem;
  background-color: #171427;
  color: #fff;
  padding: .5rem;
  border-radius: 1rem;
  width: 4rem;
  text-align: center;
}

.footer__us--socialmedia a i {
  font-size: 2rem;
}

.footer__us--socialmedia a:hover {
  background-color: #4E3FEE;
}
/*# sourceMappingURL=main.css.map */